@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #f4f4f4;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-card {
  width: 552px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  padding: 52px 64px;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.premium,
.price {
  font-size: 25px;
  font-weight: bold;
}

.month {
  font-size: 16px;
  font-weight: 700;
}

.header-desc {
  margin-top: 16px;
  color: #212628;
  font-size: 18px;
  opacity: 0.6;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  margin-top: 43px;
}

input,
select {
  width: 100%;
  height: 54px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding-left: 24px;
  padding-right: 54px;
  display: block;
  outline: none;
  background-color: white;
}

input::placeholder {
  color: #00000066;
}

.card-input {
  position: relative;
}

.card-icon {
  position: absolute;
  top: 18px;
  right: 24px;
}

.row-inputs {
  display: flex;
  gap: 27px;
}

.small-input {
  width: 65%;
}

.cvv-input {
  width: 35%;
}

.select-wrapper {
  width: 65%;
}

select {
  appearance: none;
  background-image: url("../images/Vector-2.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  cursor: pointer;
  color: #8c8c8c;
  outline: none;
}
.terms {
  display: flex;
  align-items: center;
  gap: 14px;
}

.checkbox {
  appearance: none;
  width: 22px;
  min-width: 22px;
  height: 22px;

  padding: 0;
  margin: 0;

  border: 1px solid #8c8c8c;
  border-radius: 6px;

  background-color: white;
  cursor: pointer;
  position: relative;
}
.checkbox:checked::after {
  content: "\2713";
  color: #ff4d88;
  font-size: 14px;

  position: absolute;
  top: 1px;
  left: 5px;
}
.terms p {
  font-size: 16px;
  color: #21262880;
}

.terms a {
  color: #ff4d88;
  text-decoration: underline;
}

.submit-btn {
  width: 100%;
  height: 64px;
  border-radius: 40px;
  border: none;
  cursor: pointer;

  background: linear-gradient(
    to right,
    #c23584 0%,
    #e2306c 24%,
    #f77736 84%,
    #fa963e 100%
  );

  color: white;
  font-size: 18px;
  font-weight: bold;
}

.sale {
  opacity: 0.6;
  text-decoration: line-through;
  margin-left: 6px;
}

.coupon {
  text-align: center;
  color: #e2306c;
  font-size: 18px;
  font-weight: 700;
}
